@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
   font-family: "Poppins", sans-serif;
}

/* Estilos globales para todos los th y td */
th,
td {
   text-align: center !important;
   white-space: nowrap;
   vertical-align: middle !important;
}

/* Estilos específicos para la columna observacion en el DataTable con id="example" */
#example th.observacion-column,
#example td.observacion-column {
   text-align: center !important;
   white-space: nowrap !important; /* Evita que el texto se divida en varias líneas */
   overflow: hidden !important; /* Oculta el texto que excede el ancho */
   text-overflow: ellipsis !important; /* Muestra ... cuando el texto es demasiado largo */
   max-width: 300px !important; /* Limita el ancho de la columna (ajusta según necesites) */
   vertical-align: top !important; /* Mantiene la alineación vertical */
}

/* Chrome, Safari, Edge, Opera */
input.no-arrow::-webkit-outer-spin-button,
input.no-arrow::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input.no-arrow[type="number"] {
   -moz-appearance: textfield;
   appearance: textfield;
   /* estándar */
}

/* dato cedula en las tablas */
.cedula-clickable {
   cursor: pointer;
}
