<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>
      <%= typeof title !=='undefined' ? title : 'tamiaje' %>
   </title>
   <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/libs/datatables/css/dataTables.bootstrap5.css">
   <link rel="stylesheet" href="/libs/sweetalert2/css/sweetalert2.min.css">
   <link rel="stylesheet" href="/css/global.css">
</head>