<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>
      <%= typeof title !=='undefined' ? title : 'tamiaje' %>
   </title>
   <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/libs/sweetalert2/css/sweetalert2.min.css">
   <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
      * {
         font-family: "Poppins", sans-serif;
      }
   </style>
</head>