<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
   <%- include('../partials/header') %>

      <body>
         <div class="container-fluid container-md py-4">
            <!-- Fila que organiza las columnas -->
            <div class="row g-3 mb-3" id="cards">
               <!-- cards -->
            </div>

            <!-- Boton agregar rol -->
            <% if (user && (user.rol===1 || user.rol===3)) { %>
               <div class="row g-3 mb-3">
                  <div class="col-12 col-sm-12 col-md-12">
                     <div class="custom-card bg-light p-3 text-start border border-2 rounded">
                        <button type="button" class="btn btn-primary d-inline-flex align-items-center gap-2"
                           id="agregar-usuario">
                           <i data-lucide="user-star" width="20" height="20"></i>
                           Agregar Usuario
                        </button>
                     </div>
                  </div>
               </div>
               <% } %>

                  <div class="row g-3 mb-3">
                     <div class="col-12">
                        <div class="custom-card bg-light p-3 border border-2 rounded">
                           <div class="table-responsive">
                              <table id="example" class="table table-bordered table-striped-columns table-hover">
                                 <thead>
                                    <tr>
                                       <th scope="col">#</th>
                                       <th scope="col">cedula</th>
                                       <th scope="col">usuario</th>
                                       <th scope="col">email_usuario</th>
                                       <th scope="col">rol</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <!-- data se genera desde datatable por medio de AJAX, No son datos estaticos en HTML -->
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal create -->
                  <div class="modal fade" id="createUsuarioModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="createUsuarioModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h1 class="modal-title fs-5" id="createUsuarioModalLabel">Crear un usuario</h1>
                              <button type="button" class="btn-close" id="createUsuarioModalBtnClose"></button>
                           </div>
                           <div class="modal-body">
                              <form id="usuarioForm" action="/usuarios" method="post" class="row g-3 needs-validation"
                                 novalidate>
                                 <div class="col-md-12">
                                    <label for="cedula" class="form-label">Cedula empleado</label>
                                    <select class="form-select" id="cedula" name="cedula" required>
                                       <option selected disabled value="">Selecciona un empleado</option>
                                    </select>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="empleado" class="form-label">Nomber empleado</label>
                                    <input type="text" class="form-control" id="empleado"
                                       placeholder="Nombre completo del empleado" disabled readonly>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Email ej: email@example.com">
                                 </div>
                                 <div class="col-md-12">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                       placeholder="********">
                                 </div>
                                 <div class="my-3">

                                 </div>
                                 <div class="d-grid">
                                    <button class="btn btn-outline-primary" type="submit">Crear usuario</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal update -->
                  <div class="modal fade" id="updateUsuarioModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="updateUsuarioModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h1 class="modal-title fs-5" id="updateUsuarioModalLabel">Actualizar un usuario</h1>
                              <button type="button" class="btn-close" id="updateUsuarioModalBtnClose"></button>
                           </div>
                           <div class="modal-body">
                              <form id="updateUsuarioForm" class="row g-3 needs-validation" novalidate>
                                 <div class="col-md-12">
                                    <label for="usuario_id" class="form-label">Codigo de usuario</label>
                                    <input type="text" class="form-control" id="usuario_id" name="usuario_id"
                                       placeholder="Nombre completo del empleado" disabled readonly>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="update_cedula" class="form-label">Cedula empleado</label>
                                    <select class="form-select" id="update_cedula" name="update_cedula" required>
                                       <!-- se carga desde el js -->
                                    </select>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="update_empleado" class="form-label">Nomber empleado</label>
                                    <input type="text" class="form-control" id="update_empleado"
                                       placeholder="Nombre completo del empleado" disabled readonly>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="update_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="update_email" name="update_email"
                                       placeholder="Email ej: email@example.com" required>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="update_password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="update_password"
                                       name="update_password" placeholder="********" required>
                                 </div>
                                 <div class="col-md-12">
                                    <label for="rol" class="form-label">Rol de usuario</label>
                                    <select class="form-select" id="rol" name="rol" required>
                                       <!-- se carga desde el js -->
                                    </select>
                                 </div>
                                 <div class="my-3">

                                 </div>
                                 <div class="d-grid">
                                    <button class="btn btn-outline-primary" type="submit">Actualizar
                                       funcionario</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
         </div>


         <%- include('../partials/scripts') %>
            <script src="/js/usuarios.js"></script>
      </body>

</html>