<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
   <%- include('../partials/header') %>

      <body>
         <div class="container-fluid container-md py-4">
            <!-- Fila que organiza las columnas -->
            <div class="row g-3 mb-3" id="cards">
               <!-- cards -->
            </div>

            <!-- Botón agregar tamizaje -->
            <% if (user && (user.rol===1 || user.rol===3)) { %>
               <div class="row g-3 mb-3">
                  <div class="col-12 col-sm-12 col-md-12">
                     <div class="custom-card bg-light p-3 text-start border border-2 rounded">
                        <button type="button" class="btn btn-primary d-inline-flex align-items-center gap-2"
                           id="agregar-tamizaje">
                           <i data-lucide="clipboard-plus" width="20" height="20"></i>
                           Agregar Tamizaje
                        </button>
                     </div>
                  </div>
               </div>
               <% } %>

                  <div class="row g-3 mb-3">
                     <div class="col-12">
                        <div class="custom-card bg-light p-3 border border-2 rounded">
                           <div class="table-responsive">
                              <table id="example" class="table table-bordered table-striped-columns table-hover">
                                 <thead>
                                    <tr>
                                       <th scope="col">#</th>
                                       <th scope="col">Fecha</th>
                                       <th scope="col">nombre</th>
                                       <th scope="col">Resultado</th>
                                       <th scope="col">Acciones</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <!-- Data se genera dinámicamente con DataTables vía AJAX -->
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal crear tamizaje -->
                  <div class="modal fade" id="createTamizajeModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="createTamizajeModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h1 class="modal-title fs-5" id="createTamizajeModalLabel">Registrar nuevo tamizaje</h1>
                              <button type="button" class="btn-close" id="createTamizajeModalBtnClose"></button>
                           </div>
                           <div class="modal-body">
                              <form id="tamizajeForm" action="/tamizajes" method="post" class="row g-3 needs-validation"
                                 novalidate>

                                 <!-- Nombre del tamizaje -->
                                 <div class="col-md-12">
                                    <label for="nombre" class="form-label">Nombre del Tamizaje</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                       placeholder="Ej: Tamizaje Anual 2025" required>
                                 </div>

                                 <!-- Estado (En proceso, Completado, Cancelado) -->
                                 <div class="col-md-12">
                                    <label for="estado" class="form-label">Estado</label>
                                    <select class="form-select" id="estado" name="estado" required>
                                       <option value="1" selected>En proceso</option>
                                       <option value="2">Completado</option>
                                       <option value="3">Cancelado</option>
                                    </select>
                                 </div>

                                 <div class="my-3"></div>
                                 <div class="d-grid">
                                    <button class="btn btn-outline-primary" type="submit">Guardar Tamizaje</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- Modal actualizar tamizaje -->
                  <div class="modal fade" id="updateTamizajeModal" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="updateTamizajeModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h1 class="modal-title fs-5" id="updateTamizajeModalLabel">Actualizar tamizaje</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                 aria-label="Cerrar"></button>
                           </div>
                           <div class="modal-body">
                              <form id="updateTamizajeForm" class="row g-3 needs-validation" novalidate>
                                 <!-- ID (solo lectura) -->
                                 <div class="col-md-12">
                                    <label for="update_id" class="form-label">Código</label>
                                    <input type="number" class="form-control" id="update_id" name="update_id" disabled readonly
                                       required>
                                 </div>

                                 <!-- Nombre -->
                                 <div class="col-md-12">
                                    <label for="update_nombre" class="form-label">Nombre del tamizaje</label>
                                    <input type="text" class="form-control" id="update_nombre" name="update_nombre"
                                       placeholder="Ej: Tamizaje Anual 2025" required>
                                 </div>

                                 <!-- Estado -->
                                 <div class="col-md-12">
                                    <label for="update_estado" class="form-label">Estado</label>
                                    <select class="form-select" id="update_estado" name="update_estado" required>
                                       <option value="1">En proceso</option>
                                       <option value="2">Completado</option>
                                       <option value="3">Cancelado</option>
                                    </select>
                                 </div>

                                 <div class="my-3"></div>
                                 <div class="d-grid">
                                    <button class="btn btn-outline-primary" type="submit">Actualizar tamizaje</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
         </div>
         <%- include('../partials/scripts') %>
            <script src="/js/tamizajes.js"></script>
      </body>

</html>